* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom,#2C373E, #7DA5A2  );
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    width: 1300px;
    padding: 30px 40px;
    background-color: #2C373E;
    margin: 40px auto;
    border-radius: 20px;
    border: 10px solid #1d242a;
    position: relative;
}

.header h2{
    color: #ffffff;
    font-family:sans-serif;
    font-size: 16px;
}

.content{
    margin-top: 130px;
    margin-left: 100px;
}

.content h1{
    color:#d7efed;
    font-size: 40px;
    font-family: Arial;
}

.content h3{
    margin-top: 5px;
    color: #ffffff;
    font-family: arial;
}

.content img{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 720px;
    top: 98px;

}

.datasaya{
    margin-top: 40px;
    font-family: sans-serif;
    color:#ffffff;
    font-size: 14px;
    letter-spacing: 0.3px;
}

.footer{
    margin-left: 100px;
    margin-top: 90px;
    margin-bottom: 30px;
}

.footer a{
    margin-right: 10px;
}

.footer img{
    width: 35px;
    height: 35px;
}

.k1{
    width: 120px;
}

.k2{
    width: 400px;
}

.datasaya caption{
    caption-side: top;
    text-align: left;
    margin-bottom: 7px;
    font-size: 15px;
    color: #d7efed;
    font-weight: bold;
}